body{
	margin: 0;
	text-align: center;
	background-color: #1B98E0;
	line-height: 1.8;
	font-weight: 600;
}
footer{
	text-align: center;
	background-color: #1C5D99;
	padding: 40px;
}
hr{
	border-style: none;
	border-top-style:dotted;
	border-width: 5px;
	border-color:white;
	width: 10%;
}
h1{
	color: #1B98E0;
	font-family: 'Roboto', sans-serif;
}
h2{
	color: #090057;
}
a{
	color: white;
	margin: 0 20px 0 20px;
	text-decoration: none;
}
span{
	text-decoration: underline;
	text-decoration-color: #1B98E0;
}
ul{
	text-align: left;
	width: 50%;
	margin:0 auto 0 auto;
}

.top{
	
	background-color: #222222;
}
.middle{
	text-align: left;
	width:50%;
	margin: 50px auto 50px auto;
}
#bottom{
	width: 50%;
	margin:0 auto 0 auto;
}
.myself{
	width: 15%;
	border-radius: 50%;
}
#head{
	color: #1B98E0;
}
